
@{
    ViewBag.Title = "Change Password Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section MainContent {
    
 <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
        <h1 class="page-head-line">Change Password Success</h1>
        <div class="panel-body" id="LoginDiv">
            <h5>
                Your password has been succesfully changed. Please log out and log in again to verify the new password is active.
            </h5>
        </div>
    </div>
</div>  
}

