@{
    ViewBag.Title = "ResetPasswordMessage";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section MainContent {

<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0">
        <h1 class="page-head-line">Password Reset Successful</h1>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Setup</b>
            </div>
            <div class="panel-body" id="LoginDiv">
                <p>
                    <h5>
                        Your password reset request has been completed. A notification has been sent to your registered email.
                        <br />
                        It is advised that you change this password once you log in.
                    </h5>
                </p>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>