<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="mailSettings" type="PermissionManagement.Utility.MailSettingsSectionHandler, PermissionManagement.Utility" />
    <section name="securitySettings" type="PermissionManagement.Utility.SecurityConfigHandler, PermissionManagement.Utility" />
    <section name="repositorySettings" type="Grs.Collation.Core.RepositoryConfigHandler, Grs.Collation.Core" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PermissionManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="finConnectionString" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.16.250.135)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=FBNMOCK)));User Id=custom;Password=custom;" />
    <!-- <add name="DefaultConnection" connectionString="Data Source=CHARLES;initial catalog=AlertProfiler;persist security info=True;user id=PolColDevsvc;password=K@1@00z.Ga;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <!-- <add name="DefaultConnection" connectionString="Data Source=172.24.110.12;initial catalog=AccessMgt;persist security info=True;user id=PolColDevsvc;password=K@1@00z.Ga;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=PolarisBase;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <securitySettings>
    <default>
      <cookie timeout="10" domain=".localhost" slidingexpiration="true" passwordhashed="true" cookieonlycheck="false" maximumpasswordretries="3" enable2fa="true" exemptlocaluserfrom2fa="true" />
      <login url="http://localhost:9187/" page="LogIn" /><!--http://localhost/PermissionManagement.Web/-->
    </default>
  </securitySettings>
  <mailSettings>
    <default>
      <!--login="username" password="password"-->
      <!--server="smtp.y7mail.com" port="465" login="abc@y7mail.com" password="frgetful" usessl="true"-->--&gt; 
      <mail server="localhost" fromname="PolarisBankLimited" from="gsuleman@polarisbanklimited.com" isencrypted="false" enabled="true" sendtoqueue="false" />--&gt;
      <contacts>
        <contact name="error_related" displayname="Polaris - Support" email="support@polarisbanklimited.com" />
        <contact name="general" displayname="Polar Bank" email="info@polarisbanklimited.com" />
        <contact name="customerservice" displayname="FBN  - Sales" email="itservicedesk@polarisbanklimited.com" />
      </contacts>
      <emailtosmsgateway gatewayemail="s@s" accountemail="y@mail.com" subacct="fanweborder" subacctpwd="fanweborder" smsunitprice="10.00" />
    </default>
  </mailSettings>
  <repositorySettings>
    <default>
      <!--<collation basePath="C:\Projects\PermissionManagement\PermissionManagement.Web\PDFReport\" publicKey="cc32d75466d934e4"/>
        <fonts path="C:\Projects\PermissionManagement\PermissionManagement.Web\PDFReport\ReportFont\">
        <font type="otf" name="BodonEgyptianBold" value="BodonEgyBol.otf"/>
        <font type="otf" name="BodonEgyptianBoldItalic" value="BodonEgyBolIta.otf"/>
        <font type="otf" name="BodonEgyptianItalic" value="BodonEgyIta.otf"/>
        <font type="otf" name="BodonEgyptianRegular" value="BodonEgyReg.otf"/>
        <font type="ttf" name="PalatinoBold" value="palab.ttf"/>
        <font type="ttf" name="PalatinoBoldItalic" value="palabi.ttf"/>
        <font type="ttf" name="PalatinoItalic" value="palai.ttf"/>
        <font type="ttf" name="PalatinoRegular" value="pala.ttf"/>
      </fonts>-->
      <!--<images path="C:\Projects\PermissionManagement\PermissionManagement.Web\PDFReport\Images\">-->
      <images path="Documents:\My Documents\Visual Studio 2013\Projects\PermissionManagement\PermissionManagement\Images\">
        <image name="PolarisBankLogo" value="plblogo.jpg" />
        <image name="PolarisBankLogoBig" value="plblogo2.jpg" />
      </images>
      <!--<documents path="C:\Projects\PermissionManagement\PermissionManagement.Web\PDFReport\Documents\">
        <document name="DirectDebitTemplate" value="DirectDebitTemplate.pdf"/>
      </documents>-->
    </default>
  </repositorySettings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VirtualDirectory" value="" /> <!--PermissionManagement.Web-->
    <add key="CompanyName" value="Polaris Bank Limited" />
    <add key="SendErrorMail" value="false" />
    <add key="LogAppID" value="PLB" />
    <add key="TimeZone" value="W. Central Africa Standard Time" />
    <!--If server is hosted in the same time zone, we may delete this settings-->
    <!--//Charles <add key="ADServiceURL" value="http://172.16.249.199/FBNServices/service.asmx"/>-->
    <add key="ADServiceURL" value="http://10.100.25.26/mobile/services.php" />
    <add key="SendApprovalNotificationMail" value="true" />
    <add key="AuditLogLevel" value="5" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <!--<add assembly="Syncfusion.Compression.Base, Version=12.1400.0.43, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
         <add assembly="Syncfusion.XlsIO.Base, Version=12.1400.0.43, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />-->
      </assemblies>
    </compilation>
    <authentication mode="None" />
    <authorization>
      <allow users="*" />
    </authorization>
    <sessionState mode="Off" />
    <customErrors mode="Off" defaultRedirect="~/error" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/pagenotfound" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".woff" allowed="true" />
          <add fileExtension=".ttf" allowed="true" />
          <add fileExtension=".woff2" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\MailPickupFolder" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="ApplicationCache" cacheMemoryLimitMegabytes="60" physicalMemoryLimitPercentage="0" pollingInterval="00:15:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="APISoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAuthWrapper" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.mymobileapi.com/api5/api.asmx" binding="basicHttpBinding" bindingConfiguration="APISoap" contract="MyAPI.APISoap" name="APISoap" />
      <endpoint address="http://172.16.249.199/EntrustWrapper/AuthWrapper.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthWrapper" contract="EntrustWrapper.IAuthWrapper" name="BasicHttpBinding_IAuthWrapper" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PermissionManagement.Properties.Settings>
      <setting name="PermissionManagement_ADService_Service" serializeAs="String">
        <value>http://172.16.249.199/FBNServices/service.asmx</value>
      </setting>
    </PermissionManagement.Properties.Settings>
  </applicationSettings>
</configuration>